name: GitHub Pages

on:
  push:
    branches: main

jobs:
  build_pages:
    runs-on: ubuntu-latest

    if: github.actor != 'nektos/act'

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew javadoc

      - uses: actions/upload-pages-artifact@v4
        with:
          path: build/docs/javadoc

  deploy_pages:
    needs: build_pages

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
